*{
  font-family: monospace;
  text-align: center;
}


body {
    background-color: rosybrown;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-align: center;
}

h4 {
    color: white;
    text-align: center;
}
.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  perspective: 1000px;
  width: 200px;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back {
  background-color: darkred;
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);

  display: flex;
  flex-direction: column;

  padding: 10px;
  box-sizing: border-box;

  overflow-y: auto; 
  overflow-x: auto; 

  align-items: normal;
  justify-content: flex-start;
}

.card:hover .card-inner { transform: rotateY(180deg); }

.content {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content:baseline;
}

.cards-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px;
  white-space: nowrap;
}

.card-container {
  display: flex;   
  gap: 20px;        
  justify-content: flex-start; 
}

.card {
  width: 280px;
  height: 300px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}


